@media screen and (min-width:1225px) {  
    /* General */
    *{
        margin: 0%;
        padding: 0%;
        font-family: "Montserrat", sans-serif;
    }
    html, body {
        height: 100%;
        width: 100%;
        background: whitesmoke;
    }
    /* Header */
    .Header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: lightslategray;
        z-index: 1;
        height: 70px;
    }
    .Willawel {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 225px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: skyblue;
        text-align: center;
    }
    .Header a {
        text-decoration: none;
        color: white;
    }
    .Menu {
        position: absolute;
        top: 0;
        left: 225px;
        line-height: 70px;
        text-align: end;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .Menu li {
        margin: 0 2%;
        display: inline-block;
    }
    .small-screen {
        display: none;
    }
    .Menu li a:hover {
        color: #0652DD;
    }
    input {
        position: absolute;
        visibility: hidden;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .show-menu, .hide-menu {
        width: 30px;
        padding: 5px;
        transition: 0.5s;
        display: none;
        cursor: pointer;
    }
    .show-menu {
        float: right;
        background-color: skyblue;
        border-radius: 100%;
        width: 30px;
        margin-top: 15px;
        margin-right: 25px;
    }
    /* ---------------------------- */
    /* Acordeon menu */
    /* ---------------------------- */
    .page {
        /* border-top: 1px solid black; */
        overflow: hidden;
    }
    .btn {
        display: block;
        /* padding: 0px 20px; */
        /* background: skyblue; */
        color: white;
        position: relative;
    }
    .small-screen {
        display: none;
    }
    .subpage {
        position: absolute;
        top: 70px;
        min-width: 135px;
        background: lightgray;
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
        line-height: normal;
        padding-top: 0px;
    }
    .subpage a {
        display: block;
        padding: 5px 10px;
        color: white;
        font-size: 14px;
        margin: 10px 0;
        position: relative;
        text-align: left;
        z-index: 1;
    }
    /* subpage hover indicator */
    .subpage a:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background: red;
        left: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0;
    }
    .subpage a:hover::before {
        opacity: 1;
    }


    /* =============================
    page content table
    ============================= */
    .page-content {
        /* display: block; */
        display: none;
        /* position: absolute; */
        top: 80px;
        /* left: 55%; */
        /* opacity: 0; */
        background:black;
        /* width: 40%; */
    }
    .page-content a {
        display: block;
    }
    .page-content:target {
        /* opacity: 1; */
        display: block;
    }
    .page:hover .subpage {
        max-height: 10em;
        top: 70px;
    }
    /* arrow showing current acordeon menu*/
    .page:hover .subpage::before {
        content: "";
        position: fixed;
        display: block;
        top: 63px;
        width: 14px;
        height: 14px;
        margin-left: 15px;
        background: skyblue;
        bottom: -7px;
        transform: rotate(45deg);
        z-index: 2;
    }

    /* ================================= */
    /* Page Content */
    /* ================================= */
    .Content {
        padding-top: 75px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .block  {
        border: solid black 1px;
        margin-top: 5%;
        margin-bottom: 5%;
        overflow: auto;
        padding: 5%;
        background-color: white;   
        width: 90%;
        overflow-y: auto;
    }
    .block img {
        width: 100%;
    }
}
