@media screen and (min-width:1226px) {
/* =====================================================================================================
GENERAL
======================================================================================================== */
    *{
        margin: 0%;
        padding: 0%;
        font-family: "Montserrat", sans-serif;
    }
    html, body {
        height: 100%;
        width: 100%;
        background: whitesmoke;
    }
/* =====================================================================================================
HEADER
======================================================================================================== */
    .Header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: lightslategray;
        z-index: 1;
        height: 70px;
    }
    .Willawel {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 225px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: skyblue;
        text-align: center;
    }
    .Header a {
        text-decoration: none;
        color: white;
    }
/* =====================================================================================================
MENU: GENERAL
======================================================================================================== */
    .Menu {
        position: absolute;
        top: 0;
        left: 225px;
        line-height: 70px;
        text-align: end;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .Menu li {
        margin: 0 2%;
        display: inline-block;
    }
    .Menu li a:hover {
        color: #0652DD;
    }
    input {
        position: absolute;
        visibility: hidden;
        top: 0;
        right: 0;
    }
/* =====================================================================================================
MENU: 1) ACORDEON MENU
======================================================================================================== */
    .page {
        overflow: hidden;
    }
    .btn {
        display: block;
        color: white;
        position: relative;
    }
    /* general subpage settingq */
    .subpage {
        position: absolute;
        top: 70px;
        min-width: 135px;
        background: lightgray;
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
        line-height: normal;
        padding-top: 0px;
    }
    /* style subpage tekst */
    .subpage a {
        display: block;
        padding: 5px 10px;
        color: white;
        font-size: 14px;
        margin: 10px 0;
        position: relative;
        text-align: left;
        z-index: 1;
    }
    /* subpage hover indicator */
    .subpage a:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background: red;
        left: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0;
    }
    /* show subpages indicator on hover */
    .subpage a:hover::before {
        opacity: 1;
    }
    /* show subpage on hover */
    .page:hover .subpage {
        max-height: 10em;
        top: 70px;
    }
    /* arrow showing current acordeon menu*/
    .page:hover .subpage::before {
        content: "";
        position: fixed;
        display: block;
        top: 63px;
        width: 14px;
        height: 14px;
        margin-left: 15px;
        background: skyblue;
        bottom: -7px;
        transform: rotate(45deg);
    }
/* =====================================================================================================
MENU: 2) TABLE OF CONTENT (PAGE SPECIFIC)
======================================================================================================== */
    .wrap-rightcolumn {
        position: fixed;
        right: 2.5%;
        top: 50%;
        margin-top: -250px;
        height: 500px;
        width: 20vw;
        border-radius: 10px;
    }
    .page-content {
        display: none;
        top: 80px;
        background:lightgray;
        height: 500px;
        overflow: auto;
        border-radius: 10px;
    }
    .page-content a {
        display: block;
        line-height: normal;
        padding: 1%;
    }
    .page-content:target {
        display: block;
    }
    .page-content-title {
        text-align: center;
        background: lightseagreen;
        padding: 1%;
        margin-bottom: 2%;
    }
    .page-content a:not(:first-child) {
        text-align: left;
        text-transform: uppercase;
    }
    .page-content a h2 {
        text-transform: none;
    }
/* =====================================================================================================
CONTENT
======================================================================================================== */
    .Content {
        padding-top: 75px;
        margin-left: 5%;
        width: 70%;
        /* width: 90%; */
    }
    /* update Content-width to make place for content table if one is selected */
    /* .page-content:target ~ .Content {
        width: 70%;
    } */
    .block  {
        border: solid black 1px;
        margin-top: 5%;
        margin-bottom: 5%;
        /* margin-right: 5%; */
        margin-right: 25%;
        overflow: auto;
        padding: 5%;
        background-color: white;
        width: 90%;
        overflow-y: auto;
    }
    .block img {
        width: 100%;
    }
    /* update block-margins to make place for content table if one is selected */
    /* .block: {
        margin-right: 25%;
    } */
/* =====================================================================================================
GENERAL: SETTTING THAT SHOULD OVERRULE ALL OTHER
======================================================================================================== */
    /* hide everything that isn't required for the big screen */
    .small-screen, .show-menu, .hide-menu {
        display: none;
    }
}
