@media screen and (max-width:1099px) {
/* =====================================================================================================
GENERAL
======================================================================================================== */
    *{
        margin: 0%;
        padding: 0%;
        font-family: "Montserrat", sans-serif;
    }
    html, body {
        height: 100%;
        width: 100%;
        background: whitesmoke;
    }
/* =====================================================================================================
HEADER
======================================================================================================== */
    .Header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: lightslategray;
        z-index: 1;
        height: 70px;
    }
    .Willawel {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 225px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: skyblue;
        text-align: center;
    }
    .Header a {
        text-decoration: none;
        color: white;
    }
    .show-menu, .hide-menu {
        width: 30px;
        padding: 5px;
        transition: 0.5s;
        cursor: pointer;
    }
    .show-menu {
        float: right;
        background-color: skyblue;
        border-radius: 100%;
        margin-top: 15px;
        margin-right: 25px;
    }
/* =====================================================================================================
MENU: GENERAL
======================================================================================================== */
    /* general settings for menu */
    .Menu {
        position: absolute;
        top: 0;
        right: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background: #333;
        /* text-align: left; */
        /* line-height: normal; */
        transition: 1s;
        overflow: auto;
    }
    /* set padding for everything related to the menu */
    .nav {
        margin: 75px 5%;
        /* width: 90%; */
        width: 700px;
        /* min-width: 600px; */
        overflow: auto;
    }
    /* small screen hide-menu toggle button */
    .hide-menu {
        position: fixed;
        top: 15px;
        right: 15px;
        width: 30px;
        opacity: 0;
    }
    /* display menu when toggled */
    #chk:checked ~ .Menu {
        left: 0;
    }
    #chk:checked ~ .Menu .hide-menu {
        opacity: 1;
    }
    /* remove list icons */
    .Menu ul {
        list-style: none;
    }
/* =====================================================================================================
MENU: 1) ACORDEON MENU
======================================================================================================== */
    .page {
        /* border-top: 1px solid black; */
        overflow: hidden;
        /* position: relative; */
        /* padding: 0 2%; */
    }
    .btn {
        border-top: 1px solid black;
        display: block;
        padding: 16px 20px;
        background: skyblue;
        color: white;
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
        width: 250px;
    }
    /* arrow showing current acordeon menu*/
    .btn::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background: skyblue;
        top: 43px;
        left: 20;
        bottom: -7px;
        transform: rotate(45deg);
    }
    /* hide submenu's */
    .Menu ul ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s;
        background-color: lightgray;
        width: 290px;
    }
    /* show submenu's when hovering over page-titles */
    .Menu ul li:hover > ul {
        max-height: 100%;
    }
    /* submenu padding (level 1 & 2)*/
    .Menu ul ul li {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        text-transform: uppercase;
    }
    /* submenu lvl 1 padding */
    .Menu ul ul li:first-child {
        padding-top: 12px;
        padding-bottom: 2px
    }
    .Menu ul ul li:last-child {
        padding-top: 2px;
        padding-bottom: 12px;
    }
    .Menu ul ul li:only-child {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    /* position 2 level submenu to be next 1level submenu instead of underneath*/
    .Menu ul ul ul {
        position: absolute;
        top: 76px;
        left: 342px;
        width: calc(700px - 342px);
        overflow: auto;
    }
    .page-content-title {
        text-align: center;
        background: lightseagreen;
    }
    /* Page specific heights for submenu level 2 */
    .c_twitter {
        height: 471px;
    }
    .c_uitkijk {
        height: 449px;
    }
    .c_klimaat {
        height: 471px;
    }

    /* subpage hover indicator (red line) */
    /* .subpage a:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background: red;
        left: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0;
    } */
    /* show subpage hover indicator (red line) on hover */
    /* .subpage a:hover::before {
        opacity: 1;
    } */

/* =====================================================================================================
CONTENT
======================================================================================================== */
    .Content {
        padding-top: 75px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .block  {
        border: solid black 1px;
        margin-top: 5%;
        margin-bottom: 5%;
        overflow: auto;
        padding: 5%;
        background-color: white;   
        width: 90%;
        overflow-y: auto;
    }
    .block img {
        width: 100%;
    }
/* =====================================================================================================
GENERAL: SETTTING THAT SHOULD OVERRULE ALL OTHER
======================================================================================================== */
    /* hide everything that isn't required for the small screen */
    .big-screen {
        display: none;
    }
    /* hide all input checkboxes on the page*/
    input:not([id="test"]) {
        position: absolute;
        visibility: hidden;
        top: 0;
        right: 0;
    }
}
