@media screen and (min-width:1226px) {
/* =====================================================================================================
GENERAL
======================================================================================================== */
    *{
        margin: 0%;
        padding: 0%;
        font-family: "Montserrat", sans-serif;
    }
    html, body {
        height: 100%;
        width: 100%;
        background: whitesmoke;
    }
/* =====================================================================================================
HEADER
======================================================================================================== */
    .Header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: lightslategray;
        z-index: 1;
        height: 70px;
    }
    .Willawel {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 225px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: skyblue;
        text-align: center;
    }
    /* basic style for all text in (sub)menu's of the header */
    .Header a {
        text-decoration: none;
        color: white;
    }
/* =====================================================================================================
MENU: GENERAL
======================================================================================================== */
    .Menu {
        position: absolute;
        top: 0;
        left: 225px;
        /* line-height: 70px; */
        min-width: 1000px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    /* remove the list icons for all list-elements under .Menu */
    .Menu ul {
        list-style: none;
    }
    /* add background to all li elements under .Menu */
    .page {
        /* background-color: lightgray; */
        /* width: 150px; */
        /* float: left; */
        position: relative;
        display: inline-block;
        /* border: solid white 1px; */
    }
    .Menu ul li:hover {
        background-color: darkcyan;
    }
    /* hide submenu's */
    .Menu ul ul {
        display: none;
        position: absolute;
        top: 70px;
    }
    /* show submenu's when hovering over page-titles */
    .Menu ul li:hover > ul {
        display: block;
    }
    /* position 2 level submenu to be next 1lsvel submenu instead of underneath*/
    .Menu ul ul ul {
        top: 0;
        position: absolute;
    }
    /* add correct style to Menu-buttons */
    .page {
        padding: 0 2%;
        /* margin: 0 0.5%; */
    }
    .btn {
        line-height: 70px;
    }
    /* style subpages menu */
    .subpage li {
        background-color: lightgray;
    }
    /* style page-content menu */
    .page-content li {
        line-height: 25px;
        padding: 2px 10px;;
    }
/* =====================================================================================================
SPECIFIC STYLES FOR MENUS
======================================================================================================== */
/* Woordwonder */
/* in 280 tekens */
    .s_twitter {
        width: 136px;
        margin-left: -20px;
        line-height: 25px;
        padding: 2px 10px;
    }
    .c_twitter {
        margin-left: 146px;
    }
/* dichtwerk */
/* uitkijk */
    .s_uitkijk {
        width: 250px;
        margin-left: -20px;
        line-height: 25px;
        padding: 2px 10px;   
    }
    .c_uitkijk {
        margin-left: 260px;
    }
/* save the planet */
    .s_klimaat {
        width: 164px;
        margin-left: -20px;
        line-height: 25px;
        padding: 2px 10px;  
    }
    .c_klimaat {
        margin-left: 174px;
    }
/* gezien */

/* =====================================================================================================
MENU: 1) ACORDEON MENU
======================================================================================================== */
    /* general subpage settings */
    /* .subpage {
        position: absolute;
        top: 70px;
        min-width: 135px;
        background: lightgray;
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
        line-height: normal;
        padding-top: 0px;
    } */
    /* style subpage tekst */
    /* .subpage a {
        display: block;
        padding: 5px 10px;
        color: white;
        font-size: 14px;
        margin: 10px 0;
        position: relative;
        text-align: left;
        z-index: 1;
        float: left;
    } */
    /* subpage hover indicator */
    /* .subpage a:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background: red;
        left: 0;
        top: 0;
        transition: 0.3s;
        opacity: 0;
    } */
    /* show subpages indicator on hover */
    /* .subpage a:hover::before {
        opacity: 1;
    } */
    /* show subpage on hover */
    /* .page:hover .subpage {
        max-height: 10em;
        top: 70px;
    } */
    /* arrow showing current acordeon menu*/
    /* .page:hover .subpage::before {
        content: "";
        position: fixed;
        display: block;
        top: 63px;
        width: 14px;
        height: 14px;
        margin-left: 15px;
        background: skyblue;
        bottom: -7px;
        transform: rotate(45deg);
    } */
/* =====================================================================================================
CONTENT
======================================================================================================== */
    .Content {
        padding-top: 75px;
        margin-left: 5%;
        /* width: 70%; */
        width: 90%;
    }
    .block  {
        border: solid black 1px;
        margin-top: 5%;
        margin-bottom: 5%;
        /* margin-right: 5%; */
        /* margin-right: 25%; */
        overflow: auto;
        padding: 5%;
        background-color: white;
        width: 90%;
        overflow-y: auto;
    }
    .block img {
        width: 100%;
    }
    #test:checked ~ .block {
        width: 70%;
    }
/* =====================================================================================================
GENERAL: SETTTING THAT SHOULD OVERRULE ALL OTHER
======================================================================================================== */
    /* hide everything that isn't required for the big screen */
    .small-screen, .show-menu, .hide-menu {
        display: none;
    }
    /* hide all input checkboxes on the page*/
    input:not([id="test"]) {
        position: absolute;
        visibility: hidden;
        top: 0;
        right: 0;
    }
}
